In [1]:
import numpy as np
import pandas as pd
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC

In [2]:
mydata=pd.read_csv("C:\\Users\\vamsi\\Downloads\\diabetes.csv")

In [3]:
mydata.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Unnamed: 9
0,6,148,72,35,0,33.6,0.627,50,1,NaN
1,1,85,66,29,0,26.6,0.351,31,0,NaN
2,8,183,64,0,0,23.3,0.672,32,1,NaN
3,1,89,66,23,94,28.1,0.167,21,0,NaN
4,0,137,40,35,168,43.1,2.288,33,1,NaN

In [4]:
 mydata.shape

(768, 10)

In [5]:
mydata.drop(['Unnamed: 9'],axis=1,inplace=True)

In [6]:
mydata.shape

(768, 9)

In [7]:
mydata.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [8]:
inde=mydata.iloc[:,0:8]
dep=mydata.iloc[:,8]

In [9]:
pd.DataFrame(mydata).shape

(768, 9)

In [14]:
# Training and testing the data.Training 80% and testing 20%.


seed=1
x_train,x_test,y_train,y_test=train_test_split(inde,dep,test_size=0.20,random_state=seed)

In [15]:
#Running various models:


models=[]
models.append(('LogisticRegression',LogisticRegression()))
models.append(('KNN',KNeighborsClassifier()))
models.append(('SVM',SVC()))
models.append(('XGB',XGBClassifier(eta=0.01,gamma=10)))


#eta=0.1,gamma=10


import time

results=[]
names=[]
scoring='accuracy'

for name, model in models:
    model.fit(x_train,y_train)
    
    y_pred=model.predict(x_test)
    predictions=[round(value) for value in y_pred]
    
    
    accuracy=accuracy_score(y_test,predictions)
    print("accuracy:% 2f%%" %(accuracy*100.0),name)

accuracy: 77.922078% LogisticRegression
accuracy: 73.376623% KNN
accuracy: 78.571429% SVM
accuracy: 78.571429% XGB

C:\Users\vamsi\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(